*{
    margin: 0;
    padding: 0;
}

:root{
    --mainColor: #171717;
    --primaryColor: #1D90C8;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: rgba(226, 226, 226, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70em;
    background: white;
    header{
        padding: 1rem;
        .topNav{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 2px solid rgba(226, 226, 226, 0.788);
    
            .liContainer{
                display: flex;
                list-style: none;
                li:not(:nth-child(1)){
                    margin-left: 2rem;
                }
                li{
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 15px;
                    }
                    a:hover{
                        color: var(--primaryColor);
                        transition: 0.5s;
                    }
                }
                
            }

            .socalList{
                a{
                    margin-left: 1rem;
                    font-size: 15px;
                    color: black;
                }

                a:hover{
                    color: var(--primaryColor);
                    transition: 0.5s;
                }
            }
        }

        .logo{
            margin-top: 2rem;
            h1{
                font-weight: bold;
                font-size: 50px;
                span{
                    display: block;
                    margin-left: 1rem;
                    color: var(--primaryColor);
                }
            }
        }

        nav{
            margin-top: 2rem;
            background: var(--mainColor);
            padding: 15px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                display: none;
            }
            ul{
                display: flex;
                li:not(:nth-child(1)){
                    margin-left: 2rem;
                }
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 15px;
                    }
                    a:hover{
                        color: var(--primaryColor);
                        transition: 0.5s;
                    }
                }
            }

            .searchContainer{
                background: white;
                padding: 10px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input{
                    outline: 0;
                    border: 0;
                }

                #search{
                    cursor: pointer;
                }

            }

            .toggle{
                display: none;
            }
        }
    }

    .main{
        padding: 0rem 1rem; 
        .about{
            border: 1px solid rgba(226, 226, 226, 0.788);
            width: 70%;
            h1{
                background: #E0E0E0;
                padding: 10px;
                color: #3A3A3A;
            }

            p{
                padding: 8px 10px;
            }
        }

        .generateQuotesContainer{
            margin-top: 2rem;
            border: 1px solid rgba(226, 226, 226, 0.788);
            width: 70%;
            h1{
                background: #E0E0E0;
                padding: 10px;
                color: #3A3A3A;
            }

            p{
                padding: 10px;
            }

            span{
               display: block;
               padding: 10px 10px;
               font-size: 12px;
               font-style: italic;
            }

            button{
                padding: 10px 20px;
                margin-left: 0.5rem;
                background: var(--primaryColor);
                color: white;
                border: 0;
                outline: 0;
                border-radius: 2px;
                font-size: 15px;
                cursor: pointer;
                margin-bottom: 0.5rem;
            }
        }


    }   

    .categories{
        padding: 1rem;
        display: flex;

        #category{
            border: 1px solid #e7e6e6;
            padding: 10px;
            margin: 10px;
            border-radius: 4px;
            width: 100%;
            
            ul{
                list-style: none;
                li{
                    margin-top: 1.5rem;
                    a{
                        color: black;
                    }

                    a:hover{
                        color: red;
                    }
                }
            }
        }

        #category:hover{
            background: #f8f8f8;
            transition: 1s;
        }

        .columTwo{
            margin-left: 5rem;
        }
    }
}

@media(max-width: 768px){
    .container{
        header{
            padding: 0;
            .topNav{
                display: none;
            }

            .logo{
                display: none;
            }

            nav{
                margin-top: 0;
                border-radius: 0;
                position: relative;
                display: flex;
                align-items: center;
                .logo{
                    display: block;
                    margin-top: 0;
                    h1{
                        font-size: 20px;
                        color: white;
                        span{
                            display: inline-block;
                            margin-left: 0;
                        }
                    }
                }

                .searchContainer{
                    display: none;
                }

                ul{
                    position: absolute;
                    flex-direction: column;
                    background: var(--mainColor);
                    top: 4.2rem;
                    width: 100%;
                    left: 0;

                    li:nth-child(1){
                        margin-left: 1rem;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    li:not(:nth-child(1)){
                        text-transform: uppercase;
                        padding: 10px;
                        margin-left: 0.5rem;
                    }
                }

                .active{
                    display: none;
                }

                .toggle{
                    display: block;
                    color: white;
                    font-size: 15px;
                    background: #040404;
                    padding: 10px 15px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        .main{
            margin-top: 1rem;
            .about{
                width: 100%;
            }
        }

        .categories{
            display: block;

            #category{
                width: 80%;
                margin-left: 0;
            }

            .columTwo{
                margin-left: 0rem;
            }   
        }

    }
}
