* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #171717;
  --primaryColor: #1D90C8;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: rgba(226, 226, 226, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70em;
  background: white;
  padding-bottom: 1rem;
}
.container header {
  padding: 1rem;
}
.container header .topNav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid rgba(226, 226, 226, 0.788);
}
.container header .topNav .liContainer {
  display: flex;
  list-style: none;
}
.container header .topNav .liContainer li:not(:nth-child(1)) {
  margin-left: 2rem;
}
.container header .topNav .liContainer li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.container header .topNav .liContainer li a:hover {
  color: var(--primaryColor);
  transition: 0.5s;
}
.container header .topNav .socalList a {
  margin-left: 1rem;
  font-size: 15px;
  color: black;
}
.container header .topNav .socalList a:hover {
  color: var(--primaryColor);
  transition: 0.5s;
}
.container header .logo {
  margin-top: 2rem;
}
.container header .logo h1 {
  font-weight: bold;
  font-size: 50px;
}
.container header .logo h1 span {
  display: block;
  margin-left: 1rem;
  color: var(--primaryColor);
}
.container header nav {
  margin-top: 2rem;
  background: var(--mainColor);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header nav .logo {
  display: none;
}
.container header nav ul {
  display: flex;
}
.container header nav ul li:not(:nth-child(1)) {
  margin-left: 2rem;
}
.container header nav ul li {
  list-style: none;
}
.container header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.container header nav ul li a:hover {
  color: var(--primaryColor);
  transition: 0.5s;
}
.container header nav .searchContainer {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container header nav .searchContainer input {
  outline: 0;
  border: 0;
}
.container header nav .searchContainer #search {
  cursor: pointer;
}
.container header nav .toggle {
  display: none;
}
.container .main {
  padding: 0rem 1rem;
}
.container .main .aboutOther {
  border: 1px solid rgba(226, 226, 226, 0.788);
  width: 70%;
}
.container .main .aboutOther h1 {
  background: #E0E0E0;
  padding: 10px;
  color: #3A3A3A;
}
.container .main .aboutOther p {
  padding: 8px 10px;
}
.container .main .otherCategoriesContainer {
  margin-top: 1rem;
}
.container .main .otherCategoriesContainer #category {
  margin-top: 1rem;
  border-bottom: 1px dashed rgb(148, 146, 146);
  padding-bottom: 1rem;
}
.container .main .otherCategoriesContainer #category a {
  text-decoration: none;
}
.container .main .otherCategoriesContainer #category a h1 {
  color: black;
  font-size: 18px;
}
.container .main .otherCategoriesContainer #category a p {
  color: #3A3A3A;
  margin-top: 5px;
}
.container .main .otherCategoriesContainer #category:hover a h1 {
  color: var(--primaryColor);
  font-size: 18px;
  transition: 1s;
}
.container .main .otherCategoriesContainer #category:hover a p {
  color: var(--primaryColor);
  margin-top: 5px;
  transition: 1s;
}

@media (max-width: 768px) {
  .container header {
    padding: 0;
  }
  .container header .topNav {
    display: none;
  }
  .container header .logo {
    display: none;
  }
  .container header nav {
    margin-top: 0;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: center;
  }
  .container header nav .logo {
    display: block;
    margin-top: 0;
  }
  .container header nav .logo h1 {
    font-size: 20px;
    color: white;
  }
  .container header nav .logo h1 span {
    display: inline-block;
    margin-left: 0;
  }
  .container header nav .searchContainer {
    display: none;
  }
  .container header nav ul {
    position: absolute;
    flex-direction: column;
    background: var(--mainColor);
    top: 4.2rem;
    width: 100%;
    left: 0;
  }
  .container header nav ul li:nth-child(1) {
    margin-left: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .container header nav ul li:not(:nth-child(1)) {
    text-transform: uppercase;
    padding: 10px;
    margin-left: 0.5rem;
  }
  .container header nav .active {
    display: none;
  }
  .container header nav .toggle {
    display: block;
    color: white;
    font-size: 15px;
    background: #040404;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .container .main {
    margin-top: 1rem;
  }
  .container .main .aboutOther {
    width: 100%;
  }
}/*# sourceMappingURL=other.css.map */